/*
 ________  _______           ________  ___  ___  ___  _______  _________   
|\   __  \|\  ___ \         |\   __  \|\  \|\  \|\  \|\  ___ \|\___   ___\ 
\ \  \|\ /\ \   __/|        \ \  \|\  \ \  \\\  \ \  \ \   __/\|___ \  \_| 
 \ \   __  \ \  \_|/__       \ \  \\\  \ \  \\\  \ \  \ \  \_|/__  \ \  \  
  \ \  \|\  \ \  \_|\ \       \ \  \\\  \ \  \\\  \ \  \ \  \_|\ \  \ \  \ 
   \ \_______\ \_______\       \ \_____  \ \_______\ \__\ \_______\  \ \__\
    \|_______|\|_______|        \|___| \__\|_______|\|__|\|_______|   \|__|
                                      \|__|                                
 ________      ___    ___      ________  _______   ________  ___           
|\   __  \    |\  \  /  /|    |\   __  \|\  ___ \ |\   __  \|\  \          
\ \  \|\ /_   \ \  \/  / /    \ \  \|\ /\ \   __/|\ \  \|\  \ \  \         
 \ \   __  \   \ \    / /      \ \   __  \ \  \_|/_\ \  \\\  \ \  \        
  \ \  \|\  \   \/  /  /        \ \  \|\  \ \  \_|\ \ \  \\\  \ \  \       
   \ \_______\__/  / /           \ \_______\ \_______\ \_____  \ \__\      
    \|_______|\___/ /             \|_______|\|_______|\|___| \__\|__|      
             \|___|/                                        \|__|          
*/
:root {
	--header-height: 40px;
	--border-radius: 3px;
	--noasw-padding: calc(var(--toolbar-height) + (var(--server-icon-size) - var(--server-icon-size)));
	--noasw-base: var(--container, 72px);
	--noasw-channel-header: var(--container, 0px);
	--spacing: 10px;
	--spacing-third: calc(var(--spacing) / 3);
	--spacing-half: calc(var(--spacing) / 2);
	--spacing: 10px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	--font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--font-size-sm: 11px;
	--font-size: 12px;
	--line-height: 1.5;
	--font-weight-normal: 400;
	--toolbar-height: 50px;
}


.theme-dark,
html.theme-dark #app-mount .theme-light .root-g14mjS,
html.theme-dark .force-theme.theme-light {
	--base-border: #141414;
	--background-primary: #212121;
	--background-secondary: #302F2F;
	--background-secondary-alt: #212121;
	--background-tertiary: #212121;
	--background-accent: #1d1d1d;
	--background-light: #3d2f31;
	--background-dark: #241c1d;
	--modal-background: var(--background-primary); /* #303030 */
	--background-mobile-primary: #212121;
	--background-mobile-secondary: #302F2F;
	--channeltextarea-background: #302F2F;
	--background-message-hover: transparent;
	--background-modifier-hover: #111111;
	--background-modifier-active: #171717;
	--background-modifier-selected: #202020;
	--deprecated-card-bg: #6e1625;
	--background-floating: #111214;
	--deprecated-quickswitcher-input-background: #2f1216;
	--elevation-low: none;
	--scrollbar-auto-thumb: #fc2b47;
	--scrollbar-auto-track: #2b2d31;
	--scrollbar-thin-thumb: #fc2b47;
	--syntax-blue: #79b8ff;
	--syntax-purple: #b392f0;
	--syntax-orange: #ffab70;
	--syntax-green: #56b6c2;
	--syntax-grey: #959da5;
	--syntax-grey-alt: #d1d5da;
	--activity-card-background: #301315;
	--input-background: #401b20;
}

.theme-light,
html.theme-light #app-mount .theme-light .root-g14mjS,
html.theme-light .force-theme.theme-light {
	--background-primary: #c0b8b8;
	--background-secondary: #ebe1e1;
	--background-secondary-alt: #c0b8b8;
	--background-tertiary: #c0b8b8;
	--background-accent: #1d1d1d;
	--background-light: #eeb6bd;
	--background-dark: #c8979d;  #fc2b47
	--modal-background: var(--background-primary);
	--background-mobile-primary: #c0b8b8;
	--background-mobile-secondary: #ebe1e1;
	--channeltextarea-background: #ebe1e1;
	--background-message-hover: transparent;
	--background-modifier-hover: #111111;
	--background-modifier-active: #171717;
}




.container-2Oqvgx {
  width: auto;
}
.tabs-1RhQha {
  padding: 10px 6px;
  display: block;
  height: fit-content;
  max-height: none;
}
.channel_c91bad:nth-child(2)[aria-posinset="1"] {
  top: 0px;
  position: fixed;
  z-index: 10000;
  background: var(--bg-overlay-3, var(--background-secondary));
  width: 14rem;
  height: 3.7rem;
}
.channel_c91bad:nth-child(2) > div {
  margin-top: 13px;
  width: 2.6rem;
  height: 2rem;
  background: var(--background-tertiary);
  padding-left: 0;
  margin-left: 6px;
  margin-right: 0;
}
.channel_c91bad:nth-child(2) > div > a > div > div.avatar_f9647d > svg.linkButtonIcon_c91bad {
  left: 5.8rem;
  position: fixed;
}
.channel_c91bad:nth-child(2) > div > a > div > div.content_f9647d {
  display: none;
}
.channel_c91bad:nth-child(3) {
  display: none;
}
.channel_c91bad:nth-child(4) {
  display: none;
}
.privateChannelsHeaderContainer_c47fa9 {
  margin-top: 4px;
  padding-top: 13.5px;
  height: 2rem;
  margin-bottom: 10px;
}
.privateChannelsHeaderContainer_c47fa9 > .headerText_c47fa9 {
  color: #b9b9b9;
}
.privateChannels_f0963d {
  background: rgba(0,0,0,0) !important;
}
.searchBar_f0963d {
  background: none !important;
  left: 6.1rem;
  z-index: 20000;
  top: 4px;
  box-shadow: none;
  position: fixed;
}
.searchBar_f0963d > button {
  visibility: hidden;
}
.searchBar_f0963d > button:after {
  content: "Find/start a conversation";
  visibility: visible;
  display: block;
  position: absolute;
  border-radius: 4px;
  background-color: var(--background-tertiary);
  color: #dddddd;
  padding-left: .5rem;
  padding-right: .5rem;
  line-height: 2rem;
  top: 11px;
}
.listItem_c96c45:nth-child(3) {
  margin-top: 11.5px;
}
.unreadBottom__6be9f > .bar_c10249 {
  font-size: 10px;
}
.topPill-3DJJNV .item-3XjbnG {
  margin: 0 4px 0 0;
}

/* Header container */
.libraryHeader_cb9493::before {
  top: var(--header-height);
}
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb {
  background: var(--beq-home-icon) center/cover no-repeat;
  min-width: 50px;
  min-height: 50px;
}
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg {
  display: none;
}
[class*=toolbar_]>*>[class*=search_]:not([class*=open_]) {
  &>[class*=searchBar_] {
    width: 22px;
    background: transparent;
  }

  & svg[class*=icon_] {
    transform: scale(1.4);
    color: var(--interactive-normal);
  }
}

/*     Visible Server Banner     */
[class^="container_"]:not([class*="bannerVisible_"]) >
[class^="animatedContainer_"] {
  top: 3px;
}
[class*="animatedContainer_"] {
  opacity: 1 !important;
}
[class*="headerContent_"] {
  filter: drop-shadow(0 1px 1px var(--background-primary));
}
[class^="sidebar_"] header {
  background-color: transparent !important;
}

/* Context menus */
.item-1OdjEX {
  min-height: 18px;
}
.styleFixed-2_NfVL {
  width: calc(var(--sidebar-width) - 20px);
}
.description_e0f739 {
  display: none;
}
[class^=guildSidebar_] [class^=bottomRow_]:has([class*=bottomRowActionDisabled_]) [class*=bottomRowActionDisabled_] {
  display: none;
}

@media (max-width: 1100px)
{
    [class*="sidebar_"]
    {
        width: 200px;
        .vc-typing-indicator, .vc-channelemojis-emoji, [class*="guildIconV2Container_"]
        {
            display: none;
        }
        [class*="containerDefault_"]
        {
            [role="img"]
            {
                display: none;
            }
        }
    }
    [class*="chat_"]
    {
        [class*="membersWrap_"]
        {
            display: none;
        }
    }
}
img[class="emoji otherEmoji_e58351"]:hover {
  transform: scale(2);
}

/* Settings */
.sidebarRegion_c25c6d {
  flex: 0;
}
.contentColumn_c25c6d {
  flex-grow: 1;
  max-width: 100%;
}
#my-account-tab {
  padding: unset;
}
#my-account-tab > div {
  max-width: 740px;
  padding: 60px 40px 80px;
}
.customScroller_c25c6d > div,
.sidebarScrollable_e9196a + .content_e9196a {
  max-width: unset;
}
.bd-addon-list.bd-grid-view {
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}
.bd-addon-list .bd-addon-card {
  margin-bottom: 10px;
}
.field_b69b77 > div > div > div {
  filter: blur(5px);
}
.field_b69b77 > div > div > div:hover {
  filter: blur(0);
}
:root .closeButton_df5532 {
  border-radius: 5px;
}
div.side_a0 > div.item_a0[data-tab-id="Discord Nitro"] {
  display: none !important;
}
div.side_a0 > div.item_a0[data-tab-id="Nitro Server Boost"] {
  display: none !important;
}
.textBadge__45d79{
  display: none;
}

/* Tooltips */
.tooltip-14MtrL {
  border-radius: 4px;
}
.tooltipContent-Nejnvh {
  padding: 4px 8px;
  font-size: 13px;
}
:root .lowerBadge_c5f96a .numberBadge__40d6f::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border-radius: 100%;
  z-index: -1;
  animation: var(--disable-animations), 2s pulse infinite;
  will-change: transform;
}
:root .mentionsBadge_e2a798 .numberBadge__40d6f::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: inherit;
  border-radius: 100%;
  z-index: -1;
  animation: var(--disable-animations), 2s pulse infinite;
  will-change: transform;
}
:root .unread_d8bfb3::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: inherit;
  border-radius: 100%;
  z-index: 1;
  animation: var(--disable-animations), pulse 2s infinite;
  will-change: transform;
}
.profileBadges__7a7cb.profileBadges__7a7cb {
  flex: none;
}

/* Avatar */
:root .avatar_f9f2ca.clickable_f9f2ca {
	filter: drop-shadow(0 0 5px);
	color: var(--interactive-active);
}

/* Guilds */
.guilds_a4d4d9 {
    width: 0;
    transition: width 0.3s ease;
    overflow: hidden;
}
:root .guilds_a4d4d9:hover {
    width: var(--guildbar-width); /* Восстанавливаем изначальную ширину */
}
.guilds_a4d4d9 .wrapper_fd07a3 {
	height: calc(var(--guildbar-width) * 0.625) !important;
}
.guilds_a4d4d9 .wrapper_fd07a3 span {
	max-height: calc(var(--guildbar-width) * 0.375) !important;
	border-radius: 1.5px;
}
.guilds_a4d4d9 div[style*="height: 56px"],
.guilds_a4d4d9 [role=group] {
	height: auto !important;
}
.guilds_a4d4d9 [class*=unreadMentionsIndicator],
.guilds_a4d4d9 .wrapper_bc7085 {
	width: 100%;
}
.guilds_a4d4d9 .wrapper-28eC3z,
.guilds_a4d4d9 [class*=guildsError-],
.guilds_a4d4d9 svg[width="48"] {
	width: calc(var(--guildbar-width) * 0.625) !important;
	height: calc(var(--guildbar-width) * 0.625) !important;
	border-radius: 3px;
}
.guilds_a4d4d9 #bd-pub-button {
	height: calc(var(--guildbar-width) * 0.375) !important;
	line-height: calc(var(--guildbar-width) * 0.375) !important;
	font-size: 10px;
}
.guilds_a4d4d9 .wrapper_c5f96a {
	width: calc(var(--guildbar-width) * 0.625) !important;
	height: calc(var(--guildbar-width) * 0.625) !important;
	border-radius: 3px;
}
.guilds_a4d4d9 .listItem_c96c45 {
	width: var(--guildbar-width) !important;
}
.guilds_a4d4d9 .expandedFolderBackground_bc7085 {
	left: calc(var(--guildbar-width) * 0.2) !important;
	width: calc(var(--guildbar-width) * 0.625) !important;
	--custom-folder-item-guild-icon-margin: 0px;
	border-radius: 3px !important;
}
:root .wrapper_c5f96a foreignObject {
  mask: none;
  -webkit-mask: none;
}
:root .wrapperSimple_c5f96a {
  overflow: visible;
}
:root .wrapperSimple_c5f96a,
:root .wrapper_c5f96a foreignObject,
:root .folderIconWrapper_bc7085,
:root .expandedFolderBackground_bc7085,
:root .flexChild_bba380 .avatarUploaderInner_f0a9ff {
  border-radius: var(--server-radius);
}
:root .iconInactive_f11207 {
  border-radius: calc(var(--server-radius) - 4px);
}
:root .wrapper_c5f96a foreignObject {
  transition: border-radius 200ms;
}
:root .wrapper_c5f96a:hover foreignObject {
  border-radius: calc(var(--server-radius) - 3px);
}

/* Messages */
.contents_f9f2ca .messageContent_f9f2ca, .container_b558d0 {
	background-color: var(--background-secondary);
	display: inline-block;
	max-width: 650px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0;
	padding: 8px;
	border-radius: 15px;
}
.messageContent_f9f2ca:empty {
  display: none !important;
}
.buttons_d5deea {
	transform: scale(0.75);
	transform-origin: right;
}
.mention_edf32f {
  background-color: var(--interactive-active);
}
.mentioned_d5deea {
  background-color: rgba(var(--interactive-active), 0.1) !important;
}
.mentioned_d5deea:before {
  background-color: var(--interactive-active);
}
.mentioned_d5deea:hover {
  background-color: rgba(var(--interactive-active), 0.2) !important;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {
  margin-bottom: 24px;
}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 8px 8px;
}
[class^=botTagCompact], [class^=repliedTextPreview], [class^=repliedTextContentTrailingIcon]
{
    order: 1 !important; /* default order is 0; 1 put it after */
}

[class*=channelTextAreaDisabled] {
    display: none !important;
}
[class*=channelTextAreaDisabled] {
    opacity: 0 !important;
    position: absolute !important;
    height: 0px !important;
    width: 0px !important;
    z-index: 0 !important;
}
:root .buttons_ce5b56 {
    margin: 6px 6px 6px auto !important;
    margin-left: auto;
    max-width: calc(40px * 6);
    min-width: calc(40px * 2);
    width: min-content;
    display: flex;
    gap: 6px 0;
    flex-wrap: wrap-reverse;
    flex-grow: 1;
    height: fit-content;
    justify-content: right;
}
.buttons_ce5b56 .buttonContainer__8b164,
.buttons_ce5b56 > .button_afdfd9 {
    width: 40px;
}
.separator__8424b {
    margin: 0;
    justify-content: center;
    width: 40px;
}
.separator__8424b::before {
    display: none;
}
.separator__8424b .innerButton_debeee {

    margin: 0;
}
.textArea__74543 {
    width: fit-content;
    flex-grow: 1.01;
}

/* "(edited)" text timestamps */
span[class*="timestamp_"] time::before {
    content: '✎ ' attr(aria-label);
    font-size: 0.625rem;
    font-weight: 400;
}
/* message header timestamps */
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 0.75rem;
  font-weight: 500;
}
/* header-less multi-line hover timestamps */
span[class*="timestampVisibleOnHover_"] time::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.85rem;
  width: 65px;
  left: -1px;
  top: -2px;
}
/* hide the old timestamps */
span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {
  font-size: 0rem !important;
}
span[class*="edited_"] {
    position: relative;
    right: 95px;
    color: transparent;
}


/* Code box */
#app-mount pre code[class~=hljs]::before {
	content: "Plain Text";
}
#app-mount pre code[class~=diff i]::before {
	content: "Diff";
}
#app-mount pre code[class~=cs i]::before, #app-mount pre code[class~=csharp i]::before {
	content: "C#";
}
#app-mount pre code[class~=ini i]::before {
	content: "Initialization File";
}
#app-mount pre code[class~=autohotkey i]::before {
	content: "AutoHotkey";
}
#app-mount pre code[class~=asciidoc i]::before {
	content: "Ascii";
}
#app-mount pre code[class~=TOML i]::before {
	content: "TOML";
}
#app-mount pre code[class~=nginx i]::before {
	content: "NGINX";
}
#app-mount pre code[class~=perl i]::before {
	content: "Perl";
}
#app-mount pre code[class~=d i]::before {
	content: "d";
}
#app-mount pre code[class~=javascript i]::before, #app-mount pre code[class~=js i]::before {
	content: "Javascript";
}
#app-mount pre code[class~=css i]::before {
	content: "Cascading Style Sheet";
}
#app-mount pre code[class~=bash i]::before {
	content: "Bash";
}
#app-mount pre code[class~=markdown i]::before, #app-mount pre code[class~=md i]::before {
	content: "Markdown";
}
#app-mount pre code[class~=html i]::before {
	content: "HTML";
}
#app-mount pre code[class~=xl i]::before {
	content: "eXtensible Language";
}
#app-mount pre code[class~=coffee i]::before {
	content: "CoffeeScript";
}
#app-mount pre code[class~=ruby i]::before {
	content: "Ruby";
}
#app-mount pre code[class~=sql i]::before {
	content: "SQL";
}
#app-mount pre code[class~=java i]::before {
	content: "Java";
}
#app-mount pre code[class~=py i]::before, #app-mount pre code[class~=python i]::before {
	content: "Python";
}
#app-mount pre code[class~=vb i]::before, #app-mount pre code[class~=visualbasic i]::before, #app-mount pre code[class~=vbs i]::before {
	content: "Visual Basic";
}
#app-mount pre code[class~=lua i]::before {
	content: "Lua";
}
#app-mount pre code[class~=php i]::before {
	content: "Php";
}
#app-mount pre code[class~=swift i]::before {
	content: "Swift";
}
#app-mount pre code[class~=makefile i]::before {
	content: "Makefile";
}
#app-mount pre code[class~=go i]::before {
	content: "Go";
}
#app-mount pre code[class~=rust i]::before {
	content: "Rust";
}
#app-mount pre code[class~=prolog i]::before {
	content: "Prolog";
}
#app-mount pre code[class~=ts i]::before, #app-mount pre code[class~=typescript i]::before {
	content: "TypeScript";
}
#app-mount pre code[class~=http i]::before {
	content: "HyperText Transfer Protocol";
}
#app-mount pre code[class~=json i]::before {
	content: "JSON";
}
#app-mount pre code[class~=xml i]::before {
	content: "XML";
}
#app-mount pre code[class~=less i]::before {
	content: "Less";
}
#app-mount pre code[class~=sass i]::before, #app-mount pre code[class~=scss i]::before {
	content: "SCSS";
}
#app-mount pre code[class~=elm i]::before {
	content: "Elm";
}
#app-mount pre code[class~=cpp i]::before {
	content: "C++";
}
#app-mount pre code[class~=hbs i]::before {
	content: "Handlebars";
}
#app-mount pre code[class~="1c" i]::before {
	content: "1c";
}
#app-mount pre code[class~=abnf i]::before {
	content: "ABNF";
}
#app-mount pre code[class~=clojure i]::before {
	content: "Clojure";
}
#app-mount pre code[class~=objc i]::before {
	content: "Objective-C";
}
#app-mount pre code[class~=yaml i]::before {
	content: "YAML";
}
#app-mount pre code[class~=shell i]::before, #app-mount pre code[class~=sh i]::before {
	content: "Shell";
}
#app-mount pre code[class~=kotlin i]::before {
	content: "Kotlin";
}
#app-mount pre code[class~=apache i]::before {
	content: "Apache";
}
#app-mount pre code[class~=stylus i]::before {
	content: "Stylus";
}
#app-mount pre code[class~=avrasm i]::before {
	content: "AVR Assembler";
}
#app-mount pre code[class~=llvm i]::before {
	content: "LLVM iR";
}
#app-mount pre code[class~=mipsasm i]::before {
	content: "MIPS Assembly";
}
#app-mount pre code[class~=x86asm i]::before {
	content: "Intel x86 Assembly";
}
#app-mount pre code[class~=crmsh i]::before {
	content: "crmsh";
}
#app-mount pre code[class~=dns i]::before {
	content: "DNS Zone File";
}
#app-mount pre code[class~=dockerfile i]::before {
	content: "Dockerfile";
}
#app-mount pre code[class~=dsconfig i]::before {
	content: "dsconfig";
}
#app-mount pre code[class~=jboss-cli i]::before {
	content: "jboss-cli";
}
#app-mount pre code[class~=ldif i]::before {
	content: "LDIF";
}
#app-mount pre code[class~="pf.conf" i]::before {
	content: "pf.conf";
}
#app-mount pre code[class~=puppet i]::before {
	content: "Puppet";
}
#app-mount pre code[class~=roboconf i]::before {
	content: "Roboconf";
}
#app-mount pre code[class~=axapta i]::before {
	content: "Microsoft Dynamics AX";
}
#app-mount pre code[class~=cos i]::before {
	content: "Cache Object Script";
}
#app-mount pre code[class~=isbl i]::before {
	content: "ISBL";
}
#app-mount pre code[class~=livecodeserver i]::before {
	content: "LiveCode";
}
#app-mount pre code[class~=ldif i]::before {
	content: "LDIF";
}
#app-mount pre code[class~=ruleslanguage i]::before {
	content: "Oracle Rules Language";
}
#app-mount pre code[class~=clean i]::before {
	content: "Clean";
}
#app-mount pre code[class~=coq i]::before {
	content: "Coq";
}
#app-mount pre code[class~=elixir i]::before {
	content: "Elixir";
}
#app-mount pre code[class~=erlang-repl i]::before {
	content: "Erlang REPL";
}
#app-mount pre code[class~=erlang i]::before {
	content: "Erlang";
}
#app-mount pre code[class~=flix i]::before {
	content: "Flix";
}
#app-mount pre code[class~=fsharp i]::before, #app-mount pre code[class~=fs i]::before {
	content: "F#";
}
#app-mount pre code[class~=haskell i]::before {
	content: "Haskell";
}
#app-mount pre code[class~=ocaml i]::before {
	content: "OCaml";
}
#app-mount pre code[class~=scala i]::before {
	content: "Scala";
}
#app-mount pre code[class~=sml i]::before {
	content: "SML (Standard ML)";
}
#app-mount pre code[class~=xquery i]::before {
	content: "XQuery";
}
#app-mount pre code[class~=glsl i]::before {
	content: "GLSL";
}
#app-mount pre code[class~=mel i]::before {
	content: "MEL";
}
#app-mount pre code[class~=processing i]::before {
	content: "Processing";
}
#app-mount pre code[class~=rib i]::before {
	content: "RenderMan RIB";
}
#app-mount pre code[class~=rsl i]::before {
	content: "RenderMan RSL";
}
#app-mount pre code[class~=armasm i]::before {
	content: "Arm Assembly";
}
#app-mount pre code[class~=asm i]::before, #app-mount pre code[class~=assembly i]::before {
	content: "Assembly";
}
#app-mount code,
#app-mount pre {
	font-family: var(--font-family-monospace);
}
#app-mount pre {
	overflow: hidden !important;
	margin: var(--spacing) 0;
	background: var(--background);
	position: relative;
	overflow: hidden;
	margin-bottom: 5px;
	border-radius: var(--border-radius);
}
#app-mount pre::before {
	content: "1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59\a 60\a 61\a 62\a 63\a 64\a 65\a 66\a 67\a 68\a 69\a 70\a 71\a 72\a 73\a 74\a 75\a 76\a 77\a 78\a 79\a 80\a 81\a 82\a 83\a 84\a 85\a 86\a 87\a 88\a 89\a 90\a 91\a 92\a 93\a 94\a 95\a 96\a 97\a 98\a 99\a 100\a 101\a 102\a 103\a 104\a 105\a 106\a 107\a 108\a 109\a 110\a 111\a 112\a 113\a 114\a 115\a 116\a 117\a 118\a 119\a 120\a 121\a 122\a 123\a 124\a 125\a 126\a 127\a 128\a 129\a 130\a 131\a 132\a 133\a 134\a 135\a 136\a 137\a 138\a 139\a 140\a 141\a 142\a 143\a 144\a 145\a 146\a 147\a 148\a 149\a 150\a 151\a 152\a 153\a 154\a 155\a 156\a 157\a 158\a 159\a 160\a 161\a 162\a 163\a 164\a 165\a 166\a 167\a 168\a 169\a 170\a 171\a 172\a 173\a 174\a 175\a 176\a 177\a 178\a 179\a 180\a 181\a 182\a 183\a 184\a 185\a 186\a 187\a 188\a 189\a 190\a 191\a 192\a 193\a 194\a 195\a 196\a 197\a 198\a 199\a 200\a 201\a 202\a 203\a 204\a 205\a 206\a 207\a 208\a 209\a 210\a 211\a 212\a 213\a 214\a 215\a 216\a 217\a 218\a 219\a 220\a 221\a 222\a 223\a 224\a 225\a 226\a 227\a 228\a 229\a 230\a 231\a 232\a 233\a 234\a 235\a 236\a 237\a 238\a 239\a 240\a 241\a 242\a 243\a 244\a 245\a 246\a 247\a 248\a 249\a 250\a 251\a 252\a 253\a 254\a 255\a 256\a 257\a 258\a 259\a 260\a 261\a 262\a 263\a 264\a 265\a 266\a 267\a 268\a 269\a 270\a 271\a 272\a 273\a 274\a 275\a 276\a 277\a 278\a 279\a 280\a 281\a 282\a 283\a 284\a 285\a 286\a 287\a 288\a 289\a 290\a 291\a 292\a 293\a 294\a 295\a 296\a 297\a 298\a 299\a 300\a 301\a 302\a 303\a 304\a 305\a 306\a 307\a 308\a 309\a 310\a 311\a 312\a 313\a 314\a 315\a 316\a 317\a 318\a 319\a 320\a 321\a 322\a 323\a 324\a 325\a 326\a 327\a 328\a 329\a 330\a 331\a 332\a 333\a 334\a 335\a 336\a 337\a 338\a 339\a 340\a 341\a 342\a 343\a 344\a 345\a 346\a 347\a 348\a 349\a 350\a 351\a 352\a 353\a 354\a 355\a 356\a 357\a 358\a 359\a 360\a 361\a 362\a 363\a 364\a 365\a 366\a 367\a 368\a 369\a 370\a 371\a 372\a 373\a 374\a 375\a 376\a 377\a 378\a 379\a 380\a 381\a 382\a 383\a 384\a 385\a 386\a 387\a 388\a 389\a 390\a 391\a 392\a 393\a 394\a 395\a 396\a 397\a 398\a 399\a 400\a 401\a 402\a 403\a 404\a 405\a 406\a 407\a 408\a 409\a 410\a 411\a 412\a 413\a 414\a 415\a 416\a 417\a 418\a 419\a 420\a 421\a 422\a 423\a 424\a 425\a 426\a 427\a 428\a 429\a 430\a 431\a 432\a 433\a 434\a 435\a 436\a 437\a 438\a 439\a 440\a 441\a 442\a 443\a 444\a 445\a 446\a 447\a 448\a 449\a 450\a 451\a 452\a 453\a 454\a 455\a 456\a 457\a 458\a 459\a 460\a 461\a 462\a 463\a 464\a 465\a 466\a 467\a 468\a 469\a 470\a 471\a 472\a 473\a 474\a 475\a 476\a 477\a 478\a 479\a 480\a 481\a 482\a 483\a 484\a 485\a 486\a 487\a 488\a 489\a 490\a 491\a 492\a 493\a 494\a 495\a 496\a 497\a 498\a 499\a 500\a 501\a 502\a 503\a 504\a 505\a 506\a 507\a 508\a 509\a 510\a 511\a 512\a 513\a 514\a 515\a 516\a 517\a 518\a 519\a 520\a 521\a 522\a 523\a 524\a 525\a 526\a 527\a 528\a 529\a 530\a 531\a 532\a 533\a 534\a 535\a 536\a 537\a 538\a 539\a 540\a 541\a 542\a 543\a 544\a 545\a 546\a 547\a 548\a 549\a 550\a 551\a 552\a 553\a 554\a 555\a 556\a 557\a 558\a 559\a 560\a 561\a 562\a 563\a 564\a 565\a 566\a 567\a 568\a 569\a 570\a 571\a 572\a 573\a 574\a 575\a 576\a 577\a 578\a 579\a 580\a 581\a 582\a 583\a 584\a 585\a 586\a 587\a 588\a 589\a 590\a 591\a 592\a 593\a 594\a 595\a 596\a 597\a 598\a 599\a 600\a 601\a 602\a 603\a 604\a 605\a 606\a 607\a 608\a 609\a 610\a 611\a 612\a 613\a 614\a 615\a 616\a 617\a 618\a 619\a 620\a 621\a 622\a 623\a 624\a 625\a 626\a 627\a 628\a 629\a 630\a 631\a 632\a 633\a 634\a 635\a 636\a 637\a 638\a 639\a 640\a 641\a 642\a 643\a 644\a 645\a 646\a 647\a 648\a 649\a 650\a 651\a 652\a 653\a 654\a 655\a 656\a 657\a 658\a 659\a 660\a 661\a 662\a 663\a 664\a 665\a 666\a 667\a 668\a 669\a 670\a 671\a 672\a 673\a 674\a 675\a 676\a 677\a 678\a 679\a 680\a 681\a 682\a 683\a 684\a 685\a 686\a 687\a 688\a 689\a 690\a 691\a 692\a 693\a 694\a 695\a 696\a 697\a 698\a 699\a 700\a 701\a 702\a 703\a 704\a 705\a 706\a 707\a 708\a 709\a 710\a 711\a 712\a 713\a 714\a 715\a 716\a 717\a 718\a 719\a 720\a 721\a 722\a 723\a 724\a 725\a 726\a 727\a 728\a 729\a 730\a 731\a 732\a 733\a 734\a 735\a 736\a 737\a 738\a 739\a 740\a 741\a 742\a 743\a 744\a 745\a 746\a 747\a 748\a 749\a 750\a 751\a 752\a 753\a 754\a 755\a 756\a 757\a 758\a 759\a 760\a 761\a 762\a 763\a 764\a 765\a 766\a 767\a 768\a 769\a 770\a 771\a 772\a 773\a 774\a 775\a 776\a 777\a 778\a 779\a 780\a 781\a 782\a 783\a 784\a 785\a 786\a 787\a 788\a 789\a 790\a 791\a 792\a 793\a 794\a 795\a 796\a 797\a 798\a 799\a 800\a 801\a 802\a 803\a 804\a 805\a 806\a 807\a 808\a 809\a 810\a 811\a 812\a 813\a 814\a 815\a 816\a 817\a 818\a 819\a 820\a 821\a 822\a 823\a 824\a 825\a 826\a 827\a 828\a 829\a 830\a 831\a 832\a 833\a 834\a 835\a 836\a 837\a 838\a 839\a 840\a 841\a 842\a 843\a 844\a 845\a 846\a 847\a 848\a 849\a 850\a 851\a 852\a 853\a 854\a 855\a 856\a 857\a 858\a 859\a 860\a 861\a 862\a 863\a 864\a 865\a 866\a 867\a 868\a 869\a 870\a 871\a 872\a 873\a 874\a 875\a 876\a 877\a 878\a 879\a 880\a 881\a 882\a 883\a 884\a 885\a 886\a 887\a 888\a 889\a 890\a 891\a 892\a 893\a 894\a 895\a 896\a 897\a 898\a 899\a 900\a 901\a 902\a 903\a 904\a 905\a 906\a 907\a 908\a 909\a 910\a 911\a 912\a 913\a 914\a 915\a 916\a 917\a 918\a 919\a 920\a 921\a 922\a 923\a 924\a 925\a 926\a 927\a 928\a 929\a 930\a 931\a 932\a 933\a 934\a 935\a 936\a 937\a 938\a 939\a 940\a 941\a 942\a 943\a 944\a 945\a 946\a 947\a 948\a 949\a 950\a 951\a 952\a 953\a 954\a 955\a 956\a 957\a 958\a 959\a 960\a 961\a 962\a 963\a 964\a 965\a 966\a 967\a 968\a 969\a 970\a 971\a 972\a 973\a 974\a 975\a 976\a 977\a 978\a 979\a 980\a 981\a 982\a 983\a 984\a 985\a 986\a 987\a 988\a 989\a 990\a 991\a 992\a 993\a 994\a 995\a 996\a 997\a 998\a 999\a";
	width: 7px;
	padding: 0 var(--spacing-half);
	position: absolute;
	left: 0;
	top: 1px;
	text-align: right;
	padding-top: 25px;
	line-height: var(--line-height);
	height: calc(100% - 25px);
	overflow: hidden;
	color: var(--text-muted);
	background: var(--background-dark);
	font-size: var(--font-size-sm);
}
#app-mount pre code {
	position: relative;
	box-sizing: border-box;
	padding: 25px 0.25em 0.15em 20px !important;
	background: transparent !important;
	border: 1px solid var(--base-border);
	font-size: var(--font-size-sm);
	line-height: var(--line-height);
	border-radius: var(--border-radius);
	color: var(--syntax-grey-alt);
}
#app-mount pre code::before {
	content: "Unknown Language";
	width: 100%;
	height: 24px;
	top: 0;
	left: 0;
	color: var(--text-normal);
	border-bottom: 1px solid var(--base-border);
	font-size: 1em;
	font-weight: var(--font-weight-normal);
	padding: 0 calc(var(--spacing) + 20px);
	display: flex;
	align-items: center;
	position: absolute;
	background-color: var(--background-light);
	box-sizing: border-box;
	font-family: var(--font-family-sans-serif);
	line-height: 1;
	white-space: nowrap;
	overflow: hidden;
}
#app-mount pre code::after {
	content: "";
	width: 24px;
	height: 23px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 var(--spacing-third);
	-webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3 3a2 2 0 012-2h9.982a2 2 0 011.414.586l4.018 4.018A2 2 0 0121 7.018V21a2 2 0 01-2 2H4.75a.75.75 0 010-1.5H19a.5.5 0 00.5-.5V8.5h-4a2 2 0 01-2-2v-4H5a.5.5 0 00-.5.5v6.25a.75.75 0 01-1.5 0V3zm12-.5v4a.5.5 0 00.5.5h4a.5.5 0 00-.146-.336l-4.018-4.018A.5.5 0 0015 2.5z"/><path d="M4.53 12.24a.75.75 0 01-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 11-1.022 1.1l-3.23-3a.75.75 0 010-1.1l3.23-3a.75.75 0 011.06.04zm3.979 1.06a.75.75 0 111.02-1.1l3.231 3a.75.75 0 010 1.1l-3.23 3a.75.75 0 11-1.021-1.1l2.639-2.45-2.64-2.45z"/></svg>') center/12px no-repeat;
			mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M3 3a2 2 0 012-2h9.982a2 2 0 011.414.586l4.018 4.018A2 2 0 0121 7.018V21a2 2 0 01-2 2H4.75a.75.75 0 010-1.5H19a.5.5 0 00.5-.5V8.5h-4a2 2 0 01-2-2v-4H5a.5.5 0 00-.5.5v6.25a.75.75 0 01-1.5 0V3zm12-.5v4a.5.5 0 00.5.5h4a.5.5 0 00-.146-.336l-4.018-4.018A.5.5 0 0015 2.5z"/><path d="M4.53 12.24a.75.75 0 01-.039 1.06l-2.639 2.45 2.64 2.45a.75.75 0 11-1.022 1.1l-3.23-3a.75.75 0 010-1.1l3.23-3a.75.75 0 011.06.04zm3.979 1.06a.75.75 0 111.02-1.1l3.231 3a.75.75 0 010 1.1l-3.23 3a.75.75 0 11-1.021-1.1l2.639-2.45-2.64-2.45z"/></svg>') center/12px no-repeat;
	background: var(--text-normal);
}
#app-mount pre code .hljs-built_in,
#app-mount pre code .hljs-doctag,
#app-mount pre code .hljs-literal,
#app-mount pre code .hljs-meta .hljs-meta-string,
#app-mount pre code .hljs-number,
#app-mount pre code .hljs-regexp,
#app-mount pre code .hljs-selector-class {
	color: var(--syntax-purple);
}
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-name,
#app-mount pre code .hljs-section,
#app-mount pre code .hljs-selector-class,
#app-mount pre code .hljs-selector-id,
#app-mount pre code .hljs-string,
#app-mount pre code .hljs-title {
	color: var(--syntax-blue);
}
#app-mount pre code .hljs-attr,
#app-mount pre code .hljs-attribute,
#app-mount pre code .hljs-bullet,
#app-mount pre code .hljs-class,
#app-mount pre code .hljs-link,
#app-mount pre code .hljs-meta,
#app-mount pre code .hljs-meta .hljs-keyword,
#app-mount pre code .hljs-selector-attr,
#app-mount pre code .hljs-selector-pseudo,
#app-mount pre code .hljs-subst,
#app-mount pre code .hljs-symbol,
#app-mount pre code .hljs-template-variable,
#app-mount pre code .hljs-title,
#app-mount pre code .hljs-type,
#app-mount pre code .hljs-variable {
	color: var(--syntax-orange);
}
#app-mount pre code .hljs-addition,
#app-mount pre code .hljs-keyword,
#app-mount pre code .hljs-selector-tag {
	color: var(--syntax-green);
}
#app-mount pre code .hljs-comment,
#app-mount pre code .hljs-quote {
	color: var(--syntax-grey);
}
