/*
 ________  _______           ________  ___  ___  ___  _______  _________   
|\   __  \|\  ___ \         |\   __  \|\  \|\  \|\  \|\  ___ \|\___   ___\ 
\ \  \|\ /\ \   __/|        \ \  \|\  \ \  \\\  \ \  \ \   __/\|___ \  \_| 
 \ \   __  \ \  \_|/__       \ \  \\\  \ \  \\\  \ \  \ \  \_|/__  \ \  \  
  \ \  \|\  \ \  \_|\ \       \ \  \\\  \ \  \\\  \ \  \ \  \_|\ \  \ \  \ 
   \ \_______\ \_______\       \ \_____  \ \_______\ \__\ \_______\  \ \__\
    \|_______|\|_______|        \|___| \__\|_______|\|__|\|_______|   \|__|
                                      \|__|                                
 ________      ___    ___      ________  _______   ________  ___           
|\   __  \    |\  \  /  /|    |\   __  \|\  ___ \ |\   __  \|\  \          
\ \  \|\ /_   \ \  \/  / /    \ \  \|\ /\ \   __/|\ \  \|\  \ \  \         
 \ \   __  \   \ \    / /      \ \   __  \ \  \_|/_\ \  \\\  \ \  \        
  \ \  \|\  \   \/  /  /        \ \  \|\  \ \  \_|\ \ \  \\\  \ \  \       
   \ \_______\__/  / /           \ \_______\ \_______\ \_____  \ \__\      
    \|_______|\___/ /             \|_______|\|_______|\|___| \__\|__|      
             \|___|/                                        \|__|          
*/
:root {
	--blur-ui: 2px;
  --blur-scale: 100;
	--blur-popout: 3px;
  --channels-width: 240px;
	--members-width: 240px;
	--scrollbar-width: 10px;
	--blurcalc-popout: blur(calc(var(--blur-popout) / 100 * var(--blur-scale)));
	--blurcalc-ui: blur(calc(var(--blur-ui) / 100 * var(--blur-scale)));
	--header-height: 40px;
	--border-radius: 3px;
	--noasw-padding: calc(var(--toolbar-height) + (var(--server-icon-size) - var(--server-icon-size)));
	--noasw-base: var(--container, 72px);
	--noasw-channel-header: var(--container, 0px);
	--spacing: 10px;
	--spacing-third: calc(var(--spacing) / 3);
	--spacing-half: calc(var(--spacing) / 2);
	--spacing: 10px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	--font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--font-size-sm: 11px;
	--font-size: 12px;
	--line-height: 1.5;
	--font-weight-normal: 400;
	--toolbar-height: 50px;
}


.theme-dark,
html.theme-dark #app-mount .theme-light .root-g14mjS,
html.theme-dark .force-theme.theme-light {
	--base-border: #141414;
	--background-primary: #212121;
	--background-secondary: #0d0d0dcb;
	--background-secondary-alt: #212121;
	--background-tertiary: #212121;
	--background-accent: #1d1d1d;
	--background-light: #3d2f31;
	--background-dark: #241c1d;
	--modal-background: var(--background-primary); /* #303030 */
	--background-mobile-primary: #212121;
	--background-mobile-secondary: #0d0d0dcb;
	--channeltextarea-background: #302F2F;
	--background-message-hover: transparent;
	--background-modifier-hover: #111111;
	--background-modifier-active: #171717;
	--background-modifier-selected: #202020;
	--deprecated-card-bg: #6e1625;
	--background-floating: #111214;
	--deprecated-quickswitcher-input-background: #2f1216;
	--elevation-low: none;
	--scrollbar-auto-thumb: #fc2b47;
	--scrollbar-auto-track: #2b2d31;
	--scrollbar-thin-thumb: #fc2b47;
	--syntax-blue: #79b8ff;
	--syntax-purple: #b392f0;
	--syntax-orange: #ffab70;
	--syntax-green: #56b6c2;
	--syntax-grey: #959da5;
	--syntax-grey-alt: #d1d5da;
	--activity-card-background: #301315;
	--input-background: #401b20;
	--accent-color-hue: 320;
	--accent-color-saturation: 60%;
	--accent-color-lightness: 31%;



	--dplus-accent-color-hue: 320;
	--dplus-accent-color-saturation: 60%;
	--dplus-accent-color-lightness: 31%;
	--dplus-foreground-color-hue-base: 210; /* based on vanilla --text-normal hue */
	--dplus-foreground-color-hue-links: 197;
	--dplus-foreground-color-saturation-amount: 1;
	--dplus-foreground-color-lightness-amount: 1;
	--dplus-background-color-hue: 320;
	--dplus-background-color-saturation-amount: 1;
	--dplus-background-color-lightness-amount: 1;
	--dplus-background-color-alpha: 0.8;}

.theme-light,
html.theme-light #app-mount .theme-light .root-g14mjS,
html.theme-light .force-theme.theme-light {
	--background-primary: #c0b8b8;
	--background-secondary: #ebe1e1;
	--background-secondary-alt: #c0b8b8;
	--background-tertiary: #c0b8b8;
	--background-accent: #1d1d1d;
	--background-light: #eeb6bd;
	--background-dark: #c8979d;
	--modal-background: var(--background-primary);
	--background-mobile-primary: #c0b8b8;
	--background-mobile-secondary: #ebe1e1;
	--channeltextarea-background: #ebe1e1;
	--background-message-hover: transparent;
	--background-modifier-hover: #111111;
	--background-modifier-active: #171717;
	--accent-color-hue: 320;
	--accent-color-saturation: 60%;
	--accent-color-lightness: 31%;



	--dplus-accent-color-hue: 320;
	--dplus-accent-color-saturation: 60%;
	--dplus-accent-color-lightness: 31%;
	--dplus-foreground-color-hue-base: 210;
	--dplus-foreground-color-hue-links: 197;
	--dplus-foreground-color-saturation-amount: 1;
	--dplus-foreground-color-lightness-amount: 1;
	--dplus-background-color-hue: 320;
	--dplus-background-color-saturation-amount: 1;
	--dplus-background-color-lightness-amount: 1;
	--dplus-background-color-alpha: 0.8;}
:root.reduce-motion {
	--anim-short: 0s;
	--anim-long: 0s;
	--anim-sticky: 0s;
	--anim-button: 0s;
	--anim-button-appear: 0s;}





	.theme-dark, .theme-light {
		--dplus-accent-ui: hsl(
		var(--dplus-accent-color-hue),
		var(--dplus-accent-color-saturation-factor),
		calc(var(--dplus-accent-color-lightness) * 1)
		);
		--dplus-accent-ui-hover: hsl(
		var(--dplus-accent-color-hue),
		calc(var(--dplus-accent-color-saturation-factor) * 1.1),
		calc(var(--dplus-accent-color-lightness) / 1.5)
		);
		
		--dplus-accent-color-saturation-factor: calc(var(--dplus-accent-color-saturation) * var(--saturation-factor, 1));
		--dplus-foreground-color-saturation-factor: calc(var(--dplus-foreground-color-saturation-amount, 1) * var(--saturation-factor, 1));
		--dplus-background-color-saturation-factor: calc(var(--dplus-background-color-saturation-amount, 1) * var(--saturation-factor, 1));
		
		--dplus-bgc-ui-base: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-025)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-ui-base-alpha-modifier, 100%)));
		--dplus-bgc-ui-base-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-050)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-ui-base-alpha-modifier, 100%) + var(--dplus-bg-hover-alpha-modifier, 10%))));
		
		--dplus-bgc-ui-card: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * (60% * 1/2)), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-125)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-ui-card-alpha-modifier, 100%)));
		--dplus-bgc-ui-card-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * (75% * 1/2)), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-ui-card-alpha-modifier, 100%) + var(--dplus-bg-hover-alpha-modifier, 10%))));
		
		--dplus-bgc-chatmsg: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-100)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-chat-alpha-modifier, 110%)));
		--dplus-bgc-chatmsg-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-075)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-chat-alpha-modifier, 110%) + var(--dplus-bg-hover-alpha-modifier, 10%))));
		
		
		
		--dplus-bgc-popout: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-025)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-popout-alpha-modifier, 100%)));
		--dplus-bgc-button: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 40%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-500)), calc(var(--dplus-background-color-alpha) * 115%));
		--dplus-bgc-button-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 40%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-250)), calc(var(--dplus-background-color-alpha) * 115% + var(--dplus-bg-hover-alpha-modifier, 10%)));
		--dplus-bgc-server-button: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) / 3 * 2));
		--dplus-bgc-server-button-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-200)), calc(var(--dplus-background-color-alpha) / 5 * 4));
		
		--dplus-bgc-radiobar-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) * 100% + var(--dplus-bg-hover-alpha-modifier, 10%)));
		--dplus-bgc-radiobar-selected: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-200)), calc(var(--dplus-background-color-alpha) * 80%));	
	}















/* Context menus */
section[class^="panels_"]>div[class^="mask_"] {display: none;}
.libraryHeader_cb9493::before {top: var(--header-height);}
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb {background: var(--beq-home-icon) center/cover no-repeat; min-width: 50px; min-height: 50px;}
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg {display: none;}
[class*=toolbar_]>*>[class*=search_]:not([class*=open_]) {
  &>[class*=searchBar_] {width: 22px; background: transparent;}
  & svg[class*=icon_] {transform: scale(1.4); color: var(--interactive-normal);}}
[class^="container_"]:not([class*="bannerVisible_"]) >
[class^="animatedContainer_"] {top: 3px;}
[class*="animatedContainer_"] {opacity: 1 !important;}
[class*="headerContent_"] {filter: drop-shadow(0 1px 1px var(--background-primary));}
[class^="sidebar_"] header {background-color: transparent !important;}
[class^='membersGroup']:has([role=button]),
[class^='member'] [class^='container']:has([class*='badges']) {display: none;}
.item-1OdjEX {min-height: 18px;}
.styleFixed-2_NfVL {width: calc(var(--sidebar-width) - 20px);}
.description_e0f739 {display: none;}
[class^=guildSidebar_] [class^=bottomRow_]:has([class*=bottomRowActionDisabled_]) [class*=bottomRowActionDisabled_] {display: none;}

@media (max-width: 1100px){
    [class*="sidebar_"]{width: 200px;.vc-typing-indicator, .vc-channelemojis-emoji, [class*="guildIconV2Container_"]{display: none;}[class*="containerDefault_"]{[role="img"]{display: none;}}}
    [class*="chat_"]{[class*="membersWrap_"]{display: none;}}}
img[class="emoji otherEmoji_e58351"]:hover {transform: scale(2);}

/* Settings */
.sidebarRegion_c25c6d {flex: 0;}
.contentColumn_c25c6d {flex-grow: 1; max-width: 100%;}
#my-account-tab {padding: unset;}
#my-account-tab > div {max-width: 740px; padding: 60px 40px 80px;}
.customScroller_c25c6d > div,
.sidebarScrollable_e9196a + .content_e9196a {max-width: unset;}
.bd-addon-list.bd-grid-view {grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));}
.bd-addon-list .bd-addon-card {margin-bottom: 10px;}
.field_b69b77 > div > div > div {filter: blur(5px);}
.field_b69b77 > div > div > div:hover {filter: blur(0);}
:root .closeButton_df5532 {border-radius: 5px;}
div.side_a0 > div.item_a0[data-tab-id="Discord Nitro"] {display: none !important;}
div.side_a0 > div.item_a0[data-tab-id="Nitro Server Boost"] {display: none !important;}
.textBadge__45d79{display: none;}


/* Avatar */
:root .avatar_f9f2ca.clickable_f9f2ca {filter: drop-shadow(0 0 5px); color: var(--interactive-active);}

/* Guilds */
.guilds_a4d4d9 {width: var(--guildbar-width);}
.guilds_a4d4d9 .wrapper_fd07a3 {height: calc(var(--guildbar-width) * 0.625) !important;}
.guilds_a4d4d9 .wrapper_fd07a3 span {max-height: calc(var(--guildbar-width) * 0.375) !important; border-radius: 1.5px;}
.guilds_a4d4d9 div[style*="height: 56px"],
.guilds_a4d4d9 [role=group] {height: auto !important;}
.guilds_a4d4d9 [class*=unreadMentionsIndicator],
.guilds_a4d4d9 .wrapper_bc7085 {width: 100%;}
.guilds_a4d4d9 .wrapper-28eC3z,
.guilds_a4d4d9 [class*=guildsError-],
.guilds_a4d4d9 svg[width="48"] {width: calc(var(--guildbar-width) * 0.625) !important; height: calc(var(--guildbar-width) * 0.625) !important; border-radius: 3px;}
.guilds_a4d4d9 #bd-pub-button {height: calc(var(--guildbar-width) * 0.375) !important; line-height: calc(var(--guildbar-width) * 0.375) !important; font-size: 10px;}
.guilds_a4d4d9 .wrapper_c5f96a {width: calc(var(--guildbar-width) * 0.625) !important; height: calc(var(--guildbar-width) * 0.625) !important; border-radius: 3px;}
.guilds_a4d4d9 .listItem_c96c45 {width: var(--guildbar-width) !important;}
.guilds_a4d4d9 .expandedFolderBackground_bc7085 {left: calc(var(--guildbar-width) * 0.2) !important; width: calc(var(--guildbar-width) * 0.625) !important; --custom-folder-item-guild-icon-margin: 0px; border-radius: 3px !important;}
:root .wrapper_c5f96a foreignObject {mask: none; -webkit-mask: none;}
:root .wrapperSimple_c5f96a {overflow: visible;}
:root .wrapperSimple_c5f96a,
:root .wrapper_c5f96a foreignObject,
:root .folderIconWrapper_bc7085,
:root .expandedFolderBackground_bc7085,
:root .flexChild_bba380 .avatarUploaderInner_f0a9ff {border-radius: var(--server-radius);}
:root .iconInactive_f11207 {border-radius: calc(var(--server-radius) - 4px);}
:root .wrapper_c5f96a foreignObject {transition: border-radius 200ms;}
:root .wrapper_c5f96a:hover foreignObject {border-radius: calc(var(--server-radius) - 3px);}
[class*=unreadMentionsFixedFooter_]{bottom: 0px !important;}
[class^=footer_]:has([class*=fixedDiscoveryIcon_]) {display: none;}

/* Messages */

.messageContent_f9f2ca:empty {display: none !important;}
.buttons_d5deea {transform: scale(0.75); transform-origin: right;}
.mention_edf32f {background-color: var(--interactive-active);}
.mentioned_d5deea {background-color: rgba(var(--interactive-active), 0.1) !important;}
.mentioned_d5deea:before {background-color: var(--interactive-active);}
.mentioned_d5deea:hover {background-color: rgba(var(--interactive-active), 0.2) !important;}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioMetadata"] {margin-bottom: 24px;}
[class^="mosaicItem"] > [class^="wrapperAudio"] > [class^="audioControls"] {position: absolute; bottom: 0px; left: 0px; border-radius: 0px 0px 8px 8px;}
[class^=botTagCompact], [class^=repliedTextPreview], [class^=repliedTextContentTrailingIcon] {order: 0 !important; /* default order is 0; 1 put it after */}



/* "(edited)" text timestamps */
span[class*="timestamp_"] time::before {content: '✎ ' attr(aria-label);font-size: 0.625rem;font-weight: 400;}
span[class*="timestampInline_"] time::before {content: attr(aria-label);font-size: 0.75rem;font-weight: 500;}
span[class*="timestampVisibleOnHover_"] time::before {
  content: attr(aria-label);
  position: absolute;
  font-size: 0.6rem;
  line-height: 0.85rem;
  width: 65px;
  left: -1px;
  top: -2px;}
span[class*="timestampInline_"], span[class*="timestampVisibleOnHover_"] {font-size: 0rem !important;}
span[class*="edited_"] {position: relative; right: 95px; color: transparent;}



		/*--- 5 Errors ---*/
		
    /*-- 5.1 Loading page (disconnection) --*/
.container_e40c16 {background-color: hsla(0, 0%, 0%, 0.68)}
.quote-3aooyW {font-size: 20px !important;margin-bottom: 0px !important;}
.status-1JTY3j, .problemsText_e40c16 {color: white;text-transform: none;font-size: 16px !important;}
.attribution-aTC3hS, .links_e40c16 {font-size: 0px !important;}
.twitterLink_dae605:before,
.statusLink__7b889:before {background-size: 24px 24px;height: 24px;width: 24px;}
				
				/*-- 5.2 Crash page --*/
.errorPage_dd2aa2 {width: calc(100% - var(--dplus-spacing-app) * 2)}
.wrapper_a2a7b5 {min-height: calc(100vh - var(--dplus-spacing-app) * 2)}
.theme-dark .wrapper_a2a7b5,
.theme-light .wrapper_a2a7b5 {background: var(--dplus-bgc-ui-base);
	margin: var(--dplus-spacing-app) calc(var(--dplus-spacing-app) * 2) var(--dplus-spacing-app) var(--dplus-spacing-app);
	border-radius: var(--dplus-radius-ui);}
.theme-dark .image_a2a7b5,
.theme-light .image_a2a7b5 {background-image: url('https://cdn.discordapp.com/attachments/560369937084973067/853659649340473414/28.webp')}
.image_a2a7b5 {
	width: 256px;
	height: 256px;
	margin-bottom: 40px;
	background-size: 256px 256px;}
.title_a2a7b5, .note_a2a7b5 div p {font-size: 0px;}
.title_a2a7b5:after {font-size: 24px;content: var(--dplus-i11n-error-discordcrash-title,"Congratulations!");}
.note_a2a7b5 div p:first-child:after {font-size: 16px;content: var(--dplus-i11n-error-discordcrash-body,"You just unlocked Discord Minus!");color: white;}
.note_a2a7b5 div p:nth-child(2):after {font-size: 16px;content: var(--dplus-i11n-error-discordcrash-note,"dplus-i11n");}
		
	/*-- 7.2 Server Create/Join Modal --*/  
.theme-dark .theme-light .root_f9a4c9 {background: var(--dplus-bgc-popout) !important;}
.theme-dark .theme-light .container-x8Y1ix {background: var(--dplus-bgc-ui-card);}
.filledIcon-2TG9HI { border-radius: var(--dplus-radius-ui); }
.container-x8Y1ix:hover {background: var(--dplus-bgc-ui-card-hover) !important;}
.header-1c1AhF {overflow: hidden;}
.optionContainer_e3f8c2 {background-color: var(--dplus-bgc-ui-card);}
.optionContainer_e3f8c2:hover {background-color: var(--dplus-bgc-ui-card-hover);}

		/*--- 9 Titlebar ---*/
		
		/*-- 9.1 General Titlebar --*/
.typeWindows_a934d8 {
	background-color: var(--dplus-bgc-ui-base);
	border-radius: var(--dplus-radius-ui);
	height: 20px;
	padding-bottom: 4px;
	margin-right: calc(var(--dplus-spacing-app) * 2);
	position: relative;
	left: var(--dplus-spacing-app);
	align-items: center;}
.withFrame_a934d8 {margin-top: var(--dplus-spacing-app);}
.wordmark_a934d8 svg {display: none;}
.winButton_a934d8 {height: 24px;top: 2px;}
.winButtonClose_a934d8 {border-radius: 0 10px 10px 0;}
.wordmark_a934d8 {
	display: block;
	background: var(--dplus-wordmark);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 0 !important;
	position: fixed;
	width: calc(100% - ( var(--dplus-spacing-app) * 2 ) - ( 28px * 3 ) - var(--dplus-spacing-ui));
	height: 16px;
	top: var(--dplus-spacing-app);
	left: calc(var(--dplus-spacing-app) + var(--dplus-spacing-ui));}
.theme-light .wordmark_a934d8 {filter: brightness(0);}
.theme-light .theme-dark .wordmark_a934d8 {filter: none;}
		/* titlebar corners get glitched with Nitro theme without this */
.custom-theme-background .withBackgroundOverride_a934d8.typeWindows_a934d8 {width: 100vw;margin-left: calc(var(--dplus-radius-ui) * -1);border-radius: 0px;}
		/* settings bg, offset to go behind titlebar */
.platform-win .bg_d4b6c5 { top: calc(var(--dplus-spacing-app)* -1 - 23px);}
	
/*-- 9.2 MacOS Buttons --*/	
.typeMacOS_a934d8 {background: var(--dplus-bgc-ui-base);border-radius: 0 0 var(--dplus-radius-ui) 0;}
.platform-osx .guilds_a4d4d9 {padding-top: 8px;margin-top:calc(20px + var(--dplus-spacing-app));}


		/*--- 11 Channels Sidebar ---*/
		
	/*-- 11.1 General Sidebar --*/
.sidebar_a4d4d9,
.bannerImage_fd6364 {width: var(--dplus-channels-width);}
.sidebar_a4d4d9 {
	background: var(--dplus-bgc-ui-base);
	border-radius: var(--dplus-radius-ui) !important;
	margin-right: var(--dplus-spacing-app);}
		/*-- 11.2 DMs Sidebar --*/
.scroller_c47fa9, .privateChannels_f0963d {background-color: transparent!important;}
.privateChannels_f0963d .channel_c91bad {margin-left: var(--dplus-spacing-ui);margin-right: var(--dplus-spacing-ui);}
.closeButton_c91bad {
	display: block;
	opacity: 0;
	margin-right: calc(var(--dplus-spacing-ui) - var(--dplus-spacing-ui) * 1.5);
	transition: var(--dplus-anim-button-appear);}
.channel_c91bad:hover .closeButton_c91bad {opacity: 0.6;margin-right: 0;}
		/*-- 11.3 Server Sidebar --*/
#app-mount .container_ee69e0{background: transparent;}























	/*-- 12.4 Chat --*/	
.chat_a7d72e, .wrapper-22ayhK {background: transparent;border-radius: var(--dplus-radius-ui)	;}
.chatContent_a7d72e, .form_a7d72e:before, .replying_d5deea:before {
	background: transparent !important;
}
.wrapper_b75bb9, #app-mount .children_fc4f04:after {display: none;}
.group-spacing-0 { --group-spacing: 0px; }
.group-spacing-4 { --group-spacing: 4px; }
.group-spacing-8 { --group-spacing: 8px; }
.group-spacing-16 { --group-spacing: 16px; }
.group-spacing-24 { --group-spacing: var(--dplus-spacing-ui); }
:is(.messageListItem_d5deea, .quotedChatMessage_d5deea) .message_d5deea {background: var(--dplus-bgc-chatmsg);}
	
.messageListItem_d5deea .groupStart_d5deea, .backgroundFlash_d5deea.groupStart_d5deea, .quotedChatMessage_d5deea .groupStart_d5deea {
	border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
	margin-top: 0;}
:not(.divider_d5deea) + .messageListItem_d5deea:has(.groupStart_d5deea), .messageListItem_d5deea + .backgroundFlash_d5deea:has(.avatar_f9f2ca) {
	margin-top: var(--group-spacing);}
.wrapper_f9f2ca:hover, .wrapper_f9f2ca.selected_d5deea {
	background: var(--dplus-bgc-chatmsg-hover) !important;}
.scrollerSpacer_e2e187 { height: 0; }
.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca[aria-labelledby*="upload"] {background-color: var(--dplus-bgc-chatmsg);}
.cozy_f9f2ca .repliedMessage_f9f2ca {max-width: 100%;}
			/* Beginning of chat */
.container_c2668b {
	background: var(--dplus-bgc-chatmsg);
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
	margin: 0;
	padding: var(--dplus-spacing-ui);}
.container_fc4f04.themed_fc4f04 {background: var(--dplus-bgc-ui-base);}
.container_b385c8 { /* Forum specific; reactions, following, copy link */margin-top: 0px;border-top: none;}
.empty_e2e187, .emptyForum_e2e187 { /* Spacing at the bottom */display: none;}
		/* New/Old/Load messages bar */
.newMessagesBar_cf58b5 {
	background-color: var(--dplus-accent-ui) !important;
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui) !important;
	width: 100%;}
.newMessagesBar_cf58b5 button:last-child {font-size: 12px;text-transform: lowercase;}
.barBase_cf58b5 {padding: 0;left: 0; right: 0;}
#app-mount .jumpToPresentBar-9P20AM {
	background-color: var(--dplus-accent-ui);
	border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
	bottom: 0;
	padding: 0;
	cursor: pointer;
	z-index: 2;}
.hasMore-3e72_v {
	background: var(--dplus-bg-1);
	color: var(--dplus-accent-ui);
	border: 2px solid var(--dplus-accent-ui);
	margin: 0}
			/*- 12.4.1 Message Seperation -*/	
:is(.messageListItem_d5deea, .quotedChatMessage_d5deea, .backgroundFlash_d5deea):has(+ .messageListItem_d5deea .groupStart_d5deea,  + .backgroundFlash_d5deea .groupStart_d5deea, + .scrollerSpacer_e2e187, + .divider_d5deea) .groupStart_d5deea:has(.avatar_f9f2ca) 	{
	min-height: calc(var(--dplus-spacing-ui)*2 + var(--dplus-icon-avatar-chat));
	padding-top: 0; padding-bottom: 0;}
.cozy_f9f2ca.wrapper_f9f2ca {padding-left: calc(var(--dplus-icon-avatar-chat) + var(--dplus-spacing-ui) * 2);}
.groupStart_d5deea,
.divider_d5deea + :is(.messageListItem_d5deea, .backgroundFlash_d5deea) .message_d5deea {border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;}
:is(.messageListItem_d5deea,.backgroundFlash_d5deea):has(+ .messageListItem_d5deea .groupStart_d5deea, + .divider_d5deea, + .scrollerSpacer_e2e187, + .backgroundFlash_d5deea .groupStart_d5deea) .message_d5deea {
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);}
:is(.messageListItem_d5deea,.backgroundFlash_d5deea):has( + .messageListItem_d5deea .groupStart_d5deea, + .divider_d5deea, + .scrollerSpacer_e2e187, + .backgroundFlash_d5deea .groupStart_d5deea) .groupStart_d5deea,
.divider_d5deea + :is(.messageListItem_d5deea, .backgroundFlash_d5deea):has(+ .messageListItem_d5deea .groupStart_d5deea) .message_d5deea {border-radius: var(--dplus-radius-ui);}
		/* Forum */
.container-3wLKDe, .container_d1c246:not(.floating_d1c246){background-color: transparent;}
.floating_d1c246 {filter: none;}
#app-mount .container-2qVG6q.isOpen-2OXbFs, #app-mount .container-2qVG6q:active {background: var(--dplus-bgc-chatmsg-hover);}
		/* group-spacing 0 */
.group-spacing-0 .message_d5deea {border-radius: 0!important;}
.group-spacing-0 .messageListItem_d5deea:has(+ .scrollerSpacer_e2e187) .message_d5deea {border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui)!important}
			/*- 12.4.2 Pings / Jump to Message -*/
.mentioned_d5deea:before {display: none;}
.wrapper_d4fa29 {background-color: var(--brand-730);}
.mentioned_d5deea :not(.repliedTextPreview_f9f2ca) > .messageContent_f9f2ca, .mentioned_d5deea .container_b558d0 {
	padding-left: 0;
	margin-left: 0;
	background-color: hsl(var(--yellow-300-hsl)/0.2);
	border-radius: var(--dplus-radius-ui);}
.backgroundFlash_d5deea .message_d5deea {background-color: var(--dplus-bgc-chatmsg);animation: fader 7s ;}
@keyframes fader {
	0% {background-color: hsla(var(--dplus-accent-color-hue), var(--dplus-accent-color-saturation), var(--dplus-accent-color-lightness), 80%);}
	50% {background-color: var(--dplus-bgc-chatmsg-hover);}
	100% {background-color: var(--dplus-bgc-chatmsg);}}
