/**
 * @name Be Quiet
 * @author BEQI
 * @description Standart version. Firstly, it was created for the author himself.
 * @source https://github.com/bequietbro/BeQuiet-Discord-Theme
*/
@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/dev/2.3.css");


/* No scrollbars */
@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/dev/noscrollbars.css");

/* Forum improvements */
@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/dev/forumattachments.css");

/* Compressed bot messages */
@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/dev/compressedbotmessages.css")

/* Better Spotify PLayer (requires 'SpotifyControls' plugin) */
@import url("https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css");

/* Settings Icons (requires 'ThemeAttributes' plugin) */
@import url("https://gold-me.github.io/DiscordIcons/main.css");

/* Gradient Direct Messages & Member List */
@import url('https://ukriu.github.io/cssCord/Other/gradientDM.css');
@import url('https://ukriu.github.io/cssCord/Other/gradientML.css');


:root {
	/*ΞΞΞΞΞΞΞΞΞΞΞΞ╣ SERVERS ╠ΞΞΞΞΞΞΞΞΞΞΞΞ*/
	--beq-home-icon: url(https://github.com/bequietbro/BeQuiet-Discord-Theme/blob/dev/beq-logo.png?raw=true); /* Default: https://github.com/bequietbro/BeQuiet-Discord-Theme/blob/dev/beq-logo.png?raw=true */
	--server-radius: 8px; /* Default: 8px */
	--guildbar-width: 56px; /* Default: 56px */
	
	/*ΞΞΞΞΞΞΞΞΞΞΞ╣ TOOLTIPS ╠ΞΞΞΞΞΞΞΞΞΞΞ*/
	--disable-animations: 2s channel-unread infinite; /* Default: 2s */
	
	/*ΞΞΞΞΞΞΞΞΞΞΞ╣ MESSAGES ╠ΞΞΞΞΞΞΞΞΞΞΞ*/
	--interactive-normal: #b78890; /* Default: #b78890 */
    --interactive-hover: #e3263f; /* Default: #e3263f */
    --interactive-active: #fc2b47; /* Default: #fc2b47 */
    --interactive-muted: #484951; /* Default: #484951 */
	--max-width: calc(40px * 6); /* 6 columns when expanded */
    --min-width: calc(40px * 2); /* 2 columns when collapsed */
	
	--gDM-online: linear-gradient(to right, rgb(68, 105, 68), transparent); /* Default: to right, rgb(68, 105, 68), transparent */
    --gDM-offline: linear-gradient(to right, rgb(66, 66, 66), transparent); /* Default: to right, rgb(66, 66, 66), transparent */
    --gDM-dnd: linear-gradient(to right, rgb(130,70,70), transparent); /* Default: to right, rgb(130,70,70), transparent*/
    --gDM-idle: linear-gradient(to right, rgb(135, 105, 75), transparent); /* Default: to right, rgb(135, 105, 75), transparent */
    --gDM-streaming: linear-gradient(to right, rgb(63, 33, 88), transparent); /* Default: to right, rgb(63, 33, 88), transparent */
    --gDM-border-radius: 8px;

	/*ΞΞΞΞΞΞΞΞΞ╣ CHANNEL LIST ╠ΞΞΞΞΞΞΞΞΞ*/
    --channellist-width: 240px; /* Default: 240px */
    --channellist-header-height: 48px; /* Default: 48px */
	
	/*ΞΞΞΞΞΞΞΞΞΞΞ╣ SETTINGS ╠ΞΞΞΞΞΞΞΞΞΞΞ*/
    --icon-size: 24px; /* Default: 24px */
    --icon-height 32px; /* Default: 32px */
    --icon-animations: true; /* Default: true */        /* ICONS */
    --icon-expand: false; /* Default: false */
    --icon-monocolor: false; /* Default: false */
    --icon-permacolor: false; /* Default: false */
}
