/**
 * @name Be Quiet
 * @version 3.0
 * @author BEQI
 * @description It was created for the author himself.
 * @source https://github.com/bequietbro/BeQuiet-Discord-Theme
*/
@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/refs/heads/dev/v3.0.css");

/* No scrollbars */
/*@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/dev/noscrollbars.css");*/

/* Forum improvements */
@import url("https://raw.githubusercontent.com/bequietbro/BeQuiet-Discord-Theme/dev/forumattachments.css");

/* Better Spotify PLayer (requires 'SpotifyControls' plugin) */
@import url("https://raw.githubusercontent.com/Panniku/vc-snippets/main/BetterSpotifyPlayer.css");

/* Settings Icons (requires 'ThemeAttributes' plugin) */
@import url("https://gold-me.github.io/DiscordIcons/main.css");

/* Gradient Direct Messages & Member List */
@import url("https://ukriu.github.io/cssCord/Other/gradientDM.css");
@import url("https://ukriu.github.io/cssCord/Other/gradientML.css");

/* Hide Cosmetics */
@import url("https://ukriu.github.io/cssCord/Other/blandProfile.css");



:root {
    --interactive-active: #fc2b47; /* Default: #fc2b47 */
    --disable-animations: 2s channel-unread infinite; /* Default: 2s */
    --brand-500: #ff3246 !important;         /* Main color. Default: #ff3246 */
    --brand-560: var(--brand-500) !important; /* For gradients. Default: var(--brand-500) */
    --brand-600: #ff1a30 !important;         /* Active state. Default: #ff1a30 */
    --brand-400: #ff4d5d !important;         /* Hover effects. Default: #ff4d5d */
    --brand-460: var(--brand-400) !important; /* Hover Gradients. Default: var(--brand-400) */
    --rscb-no-jump-chat: 0;/*Whether you want the chat to not move up and down when someone starts typing*/
}




/* ΞΞΞΞΞΞΞΞΞΞ╣ NO ACTIVITY ╠ΞΞΞΞΞΞΞΞΞΞ */
[class*='membersGroup']:has([role=button]), [class*='member'] [class*='container']:has([class*='badges']) {display: none;} /*in Member List*/
.nowPlayingColumn__133bf {display: none !important; width: 0 !important; height: 0 !important;}/*in DM*/

/* Hide clan (guild) tags */
[class*="chipletContainerInner_"]:has([src*="/clan-badges/"]) {display: none;}



/* ΞΞΞΞΞΞΞΞΞ╣ OPTIMIZATIONS ╠ΞΞΞΞΞΞΞΞΞ */
/* Disable transparency effects */
.layer__6b5c3,.root_a28985 {opacity: 1 !important;}

/* Removing gradients */
[class*="gradient"] {background-image: none !important;}*/

/* Disabling expensive filters */
[style*="backdrop-filter"], [class*="blur"] {backdrop-filter: none !important; filter: none !important;}

/* Removing GIF avatars */
/*[class*="avatar"] img[src*=".gif"] {content: url("") !important;}*/

/* Forced GPU rendering */
.app__0cde1 {transform: translateZ(0); will-change: transform;}

/* Disable complex scrolling effects */
[class*="scroller"] {scroll-behavior: auto !important;}



/* ΞΞΞΞΞΞΞΞΞΞ╣ NO BUTTONS ╠ΞΞΞΞΞΞΞΞΞΞ */
[data-list-item-id="download-apps"], .listItem__650eb:has(.pill__5bc7e) {display: none !important;}
